<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title">Skeleton APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skeleton APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <h1>Bienvenido!</h1>
    <p>Usuario: {{ username }}</p>
  </div>

  <div class="additional-info">
    <h2>Información Adicional</h2>

    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" placeholder="Ingrese Nombre" formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" placeholder="Ingrese Apellido" formControlName="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nivel Educación</ion-label>
        <ion-select placeholder="Seleccione Nivel" formControlName="nivelEducacion">
          <ion-select-option value="basica">Basica</ion-select-option>
          <ion-select-option value="media">Media</ion-select-option>
          <ion-select-option value="tecnica">Tecnica</ion-select-option>
          <ion-select-option value="universitaria">Universitaria</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-input id="date-input" placeholder="DD/MM/AAAA" formControlName="fechaNacimiento" readonly (click)="openDatePicker()"></ion-input>
        <ion-button (click)="openDatePicker()" slot="end">📅</ion-button>
      </ion-item>

      <ion-modal [isOpen]="showDatePicker">
        <ng-template>
          <ion-content>
            <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="selectedDate" (ionChange)="onDateChange($event)"></ion-datetime>
            <ion-button expand="full" (click)="closeDatePicker()">Cerrar</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </form>

    <ion-button expand="block" color="medium" (click)="limpiarCampos()">Limpiar</ion-button>
    <ion-button expand="block" color="primary">Mostrar</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="footer-title">App desarrollada por Sergio Martinez</ion-title>
  </ion-toolbar>
</ion-footer>
