<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MyRecipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Receta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="title">
    <h2>Crear Receta:</h2>
  </div>

  <div class="create-recipe">
    <ion-item class="fadeIn">
      <ion-label position="floating">Nombre de la receta:</ion-label>
      <ion-input [(ngModel)]="recipeName"></ion-input>
    </ion-item>

    <ion-item class="fadeIn">
      <ion-label position="stacked">Ingredientes:</ion-label>
    </ion-item>

    <div class="ingredients slideIn">
      <ion-item *ngFor="let ingredient of ingredients; let i = index; trackBy: trackByIndex">
        <ion-input placeholder="Ingrediente {{i + 1}}" [(ngModel)]="ingredients[i]"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="full" (click)="createRecipe()" class="slideIn">Crear Receta</ion-button>
  </div>
</ion-content>