.title {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  
  .welcome {
    text-align: center;
    margin: 20px 0;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  .login {
    text-align: center;
    margin-top: 20px;
  }
  