<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">MyRecipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="welcome">
    <h4>Todas tus recetas en un solo lugar</h4>
    <h3>Crea tu cuenta!</h3>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="firstName" placeholder="Nombre"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid">
      <p *ngIf="registerForm.get('firstName')?.errors?.['required']">El campo es obligatorio</p>
    </div>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="lastName" placeholder="Apellido"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid">
      <p *ngIf="registerForm.get('lastName')?.errors?.['required']">El campo es obligatorio</p>
    </div>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-input type="date" formControlName="birthDate" placeholder="Fecha de Nacimiento"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('birthDate')?.touched && registerForm.get('birthDate')?.invalid">
      <p *ngIf="registerForm.get('birthDate')?.errors?.['required']">El campo es obligatorio</p>
    </div>

    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" formControlName="username" placeholder="Nombre de Usuario"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
      <p *ngIf="registerForm.get('username')?.errors?.['required']">El campo es obligatorio</p>
      <p *ngIf="registerForm.get('username')?.errors?.['pattern']">Debe ser alfanumérico</p>
      <p *ngIf="registerForm.get('username')?.errors?.['minlength']">Debe tener al menos 3 caracteres</p>
      <p *ngIf="registerForm.get('username')?.errors?.['maxlength']">No puede tener más de 8 caracteres</p>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
      <p *ngIf="registerForm.get('password')?.errors?.['required']">El campo es obligatorio</p>
      <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Debe ser un número de 4 dígitos</p>
    </div>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid">
      <p *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">El campo es obligatorio</p>
      <p *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']">Las contraseñas no coinciden</p>
    </div>

    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">Crear Cuenta</ion-button>
  </form>

  <div class="login">
    <a href="/login">Si ya tienes una cuenta, ingresa aquí</a>
  </div>
</ion-content>