<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MyRecipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-container">
    <ion-avatar>
      <img src="assets/R.png" alt="Foto de perfil">
    </ion-avatar>
    <h1>Perfil de Chechin</h1>
    <p><strong>Nombre:</strong> Sergio</p>
    <p><strong>Apellido:</strong> Martinez</p>
    <ion-button expand="full">Editar Perfil</ion-button>
  </div>
</ion-content>
